* {
    box-sizing: border-box;
}

body {
    background-color: springgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
}

.fill {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.canva.com%2Fphone-wallpapers%2Ftemplates%2Fcute%2F&psig=AOvVaw3tm__bG2uq_sLsqvQfpteh&ust=1706271016319000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwirsej_wPiDAxWZg_0HHfOxBMYQjRx6BAgAEBY');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;

}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}